.category-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.category-filter button {
  cursor: pointer;
  border: none;
  font-family: var(--font-body);
  transition: all 0.2s;
}

.category-filter button:not(.pill-active):hover {
  background: var(--primary-300);
  color: var(--white);
}
